* {
    font-family: $lato;
}

#pemesanan {
    #pendaftaran {
        text-align: center;
        box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
        padding: 10px 0;
        background: #fff;
        color:$main;
        border-bottom: 1px solid #eee;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10%;
    }
}

#pemesanan {
    header {
        height: 70px;
        width: 100%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        @include clearfix;
        .container {
            padding-right: 2%;
        }
        div.title {
            float: left;
            line-height: 70px;
            color: $main;
            h1 {
                font-size: 24px;
                i {
                    margin-right: 10px;
                }
            }
        }
        div.menu {
            float: right;
            line-height: 70px;
            ul {
                text-align: center;
                li {
                    display: inline-block;
                    list-style-type: none;
                    &.active {
                        position: relative;
                        a {
                            &:before {
                                content: "";
                                position: absolute;
                                background: $main;
                                height: 3px;
                                left: 0;
                                right: 0;
                                top: 0;
                            }
                        }
                    }
                    a {
                        color: $main;
                        display: block;
                        padding: 0 20px;
                        font-size: 18px;
                        font-weight: 300;
                        text-decoration: none;
                    }
                    button {
                        background: #fff;
                        font-size: 20px;
                        color: $main;
                        border: none;
                        padding: 0 20px;
                        display: block;
                    }
                }
            }
        }
    }
    div.banner {
        background: $main;
        text-align: center;
        color: #fff;
        padding: 150px 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        h2 {
            font-size: 90px;
        }
        p {
            font-size: 24px;
            font-weight: 300;
        }
        div.row {
            width: 50%;
            margin: 20px auto;
            margin-top: 30px;
            @include clearfix;
            .center {
                float: left;
                width: 20%;
                line-height: 40px;
                span {
                    display: block;
                    font-weight: 200;
                    text-align: center;
                }
            }
            div.column-2 {
                width: 40%;
                float: left;
                a {
                    width: 100%;
                    color: #fff;
                    background: $main;
                    display: block;
                    text-decoration: none;
                    padding: 8px 12px;
                    font-size: 25px;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                    i {
                        margin-left: 10px;
                    }
                    &.daftar {
                        background: #fff;
                        color: $main;
                    }
                }
            }
        }
    }
}


section {
    text-align: center;
    padding: 20px;
    padding: 50px 10%;
    h2 {
        font-size: 30px;
        color: #616161;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        color: #666;
    }
    div.destination {
        border-radius: 26px;
        border: 1px solid $main;
        width: 40%;
        margin: 10px auto;
        background: #fff;
        overflow: hidden;
        @include clearfix;
        a {
            text-decoration: none;
            color: $main;
            display: block;
            width: 50%;
            padding: 10px 0;
            float: left;
            font-weight: 300;
            &.active {
                background: $main;
                color: #fff;
            }
        }
    }
    div.list-card {
        margin: 50px 0;
        ul {
            list-style-type: none;
            @include clearfix;
            li {
                float: left;
                width: 49%;
                padding: 10px;
                padding-left: 30px;
                a {
                    text-align: left;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                    background: #fff;
                    display: block;
                    padding: 20px;
                    text-decoration: none;
                    color: $main;
                    div.info {
                        @include clearfix;
                        h5 {
                            color: #999;
                        }
                        .float-left {
                            float: left;
                        }
                        .float-right {
                            float: right;
                        }
                    }
                    div.info-location {
                        padding: 10px 0;
                        @include clearfix;
                        div.asal {
                            float: left;
                            width: 40%;
                        }
                        div.plane {
                            width: 20%;
                            float: left;
                            i {
                                color: #999;
                                animation: fly 3s infinite;
                            }
                            p {
                                text-align:center;
                                font-size: 14px;
                            }
                        }
                        div.tujuan {
                            text-align: right;
                            width: 40%;
                            float: left;
                        }
                    }
                    div.info-basic {
                        border-top: 1px solid #eee;
                        padding-top: 10px;
                        text-align: center;
                        h3 {
                            color: #0eb716;
                            font-size: 25px;
                            margin-bottom: 5px;
                        }
                        p {
                            color: #999;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
#tersedia {
    .content-list {
        width:100%;
        @include clearfix;
        padding-top:50px;
    }
    
    .list-filter {
        float:left;
        width: 30%;
        .row-card {
            font-family: 'lato';
            background: #fff;
            width: 100%;
            border-radius: 3px;
            margin:10px 0;
            padding:20px 0px;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
            h3 {
                font-family: 'lato';
                font-weight: 900;
                text-align: left;
                padding:10px 20px;
                text-transform: uppercase;
            }
            ul {
                list-style-type: none;
                li {
                    border-bottom: 1px solid #f8f8f8;
                    label {
                        font-weight: 300;
                        font-size: 14px;
                        text-decoration: none;
                        text-align: left;
                        font-family: 'lato';
                        display: block;
                        padding:10px 30px;
                        input[type="radio"]{
                            margin-right: 20px;
                            display: inline-block;
                        }
                    }
                }
            }
            &.button {
                padding:10px;
            }
            button {
                display: block;
                width: 100%;
                padding:8px;
                border:none;
                border-radius: 3px;
                background: $main;
                color:#fff;
            }
        }
    }
    .list-card {
        margin-top: 0;
        float:left;
        width: 70%;
        li {
            width: 100%;
        }
    }
}
#maskapai {
    .list-card {
        li {
            width:33.3333%;
            float:left;
            a {
                img {
                    display: block;
                    width:80%;
                    margin-left:10%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: left;
    padding: 40px 10%;
    @include clearfix;
    p {
        margin: 5px 0;
    }
    div.footer-left {
        width: 50%;
        float: left;
        .copyright {
            color: #444;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        .links {
            a {
                letter-spacing: 1px;
                color: $main;
                font-size: 16px;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
    .footer-right {
        float: right;
        width: 50%;
        .phone {
            float: right;
            font-weight: 500;
            color: #555;
            font-size: 15px;
            letter-spacing: 1px;
            i {
            	margin-right: 10px;
            	display: inline-block;
            }
        }
    }
}

@keyframes fly {
    0% {
        transform: translateX(0%) rotate(90deg);
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        transform: translateX(550%) rotate(90deg);
        opacity: 0
    }
}
