// Links
@font-face {
	font-family:'lato';
	src:url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto';
	src:url('../fonts/Roboto-Thin.ttf');
	font-weight:200;
}
@font-face {
	font-family:'roboto';
	src:url('../fonts/Roboto-Bold.ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'roboto';
	src:url('../fonts/Roboto-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'roboto';
	src:url('../fonts/Roboto-Medium.ttf');
	font-weight: 500;
}

// fonts
$twcenmt:'Tw Cen Mt', sans-serif;
$segoe: 'Segoe UI', sans-serif;
$roboto: 'roboto', sans-serif;
$lato:'lato',sans-serif;
// color
$blue:#3778B4;
$blue1:#3472AB;
$blue2:#326EA7;
$main:#1f88e5;
// $main:#FEB528;
$bgerror:#fff2f2;



// Color
$red:#E74324;
$pblue: #2490C6; 
$sblue:#099FFC;
$pblack:#3B4F59;
$green:#1BC26B;
$bggrey:#F9F9F9;
